NEXT_PUBLIC_SUPABASE_URL=https://sqqfkduflyondcebppbe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxcWZrZHVmbHlvbmRjZWJwcGJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3MjAxMzMsImV4cCI6MjA5ODI5NjEzM30.AuSzUUpdNK0PrjIYIjUkS-f8bp2sG1mzhHCAinKohSU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxcWZrZHVmbHlvbmRjZWJwcGJlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjcyMDEzMywiZXhwIjoyMDk4Mjk2MTMzfQ.D-b46bSeQkA-p280GPALtTIfYkVhCLeB-HJSv30uKbw

ADMIN_EMAIL=simetricoffee@gmail.com
ADMIN_PASSWORD=simetricoffee123

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_URL=https://www.google.com/maps/search/?api=1&query=Simetri%20Coffee%20Roasters%20Bekasi
NEXT_PUBLIC_WHATSAPP_NUMBER=6281290553590
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/simetricoffee.roasters
